*::before, *::after, * {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: bisque;
    box-sizing: border-box;
}
  

.page-header {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    background-color: brown;
    color: antiquewhite;
    padding: 15px;
}

.recipe-img {
    border: 1px solid black;
    width: 800px;
    margin: 0 auto 5px;
    padding: 0 25px;
}

.img {
    border: 1px solid black;
    padding: 0 50px;
}

.img-desc {
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
}

.recipe-links {
    font-size: 18px;
    width: 500px;
    padding: 15px;
    margin: 0 auto;
}

.recipe {
    padding: 10px;
    margin: 5 auto;
    list-style: none;
    text-align: center;
}

.ingredients {
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 0 5px 0;
}

.steps {
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.home-link {
    border: 1px solid black;
    text-align: center;
}